**/node_modules
**/credentials.js
**/package-lock.json
*.exe
.venv/
__pycache__/
.gitignore/
**/node_modules
**/credentials.js
**/package-lock.json
**/MySQL80.session.sql
Web-Development/Project-2020Spring-Meshesha-Elias/