<h1>Hello! You have visited this website {{count}} times before.</h1>
<form action='/counter' method = "post">
    <input id = "displayInput", name = "content", value = "resetSess">
    <input type = "submit", value = "resetCount"></button>
</form>