div{
    position: relative;
    max-width:1000px;
    min-width: 250px;
    margin:auto;
    overflow:auto;
}
#bannar{
    border: solid;
    background-color:lightblue;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type = submit]{
    background:none;
    border:none;
}

.rocket{
    position: relative; 
    font-size:120%;
    margin:none;
}

#centerMe{
    position: relative;
    display: table;
    margin:0 auto;

}

.title-logo + .rocket{
    margin: none;
    position: relative; 
}

#title{
    width: 210px;
}
#bannar span{
    float: left;
}
#HorizantalBanner{
    border: solid;
    height: auto;
    position: relative;
    background-color: rgb(248, 247, 247);
}

#HorizantalBanner input[type = submit]{
    position: relative;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    float: left;
    height: 50%;
}
#HorizantalBanner input[type = submit].Active{
    background-color: green;
    color: white;
}
#HorizantalBanner input[type = submit].notActive:hover{
    background-color: darkslategrey;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    #HorizantalBanner input[type = submit]{
        text-align: center;
        float: none;
    }
}

#content{
    border:solid;
}
#content > div{
    padding: 2%;
}
.carouselContent{
    display: none;
}
.carouselContainer{
    border:solid;
}
.carouselTrackerContianer{
    text-align: center;
}
.carouselTracker{
    cursor: pointer;
}
.left{
    z-index: auto; /*Pushes .left to be the forefront of everything*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
  }
.right{
    z-index: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
}

img{
    width:100%;
}