div{
    position: relative;
    max-width:1000px;
    min-width: 250px;
    margin:auto;
    overflow:auto;
}
/*
#putCommentsHere > #commentbox{
    display: block;
}
*/
#bannar{
    border: solid;
    background-color:lightblue;
    padding-bottom: 10px;
    padding-top: 10px;
}

.rocket{
    position: relative; 
    font-size:120%;
    margin:none;
}

#centerMe{
    position: relative;
    display: table;
    margin:0 auto;

}

.title-logo + .rocket{
    margin: none;
    position: relative; 
}

#title{
    width: 210px;
}
#bannar span{
    float: left;
}
#HorizantalBanner{
    border: solid;
    height: auto;
    position: relative;
    background-color: rgb(248, 247, 247);
}

#HorizantalBanner a{
    position: relative;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    float: left;
    height: 50%;
}
#HorizantalBanner a.Active{
    background-color: green;
    color: white;
}
#HorizantalBanner a.notActive:hover{
    background-color: darkslategrey;
    color: white;
    cursor: pointer;
}
@media screen and (max-width: 600px){
    #HorizantalBanner a{
        text-align: center;
        float: none;
    }
}
.imgsourceCont{
    position: absolute;
    right: 0;
    margin-right: 1%;
}

.imgsource{
    color:rgb(131, 158, 182);
}

#content{
    border:solid;
}
#content > div{
    padding: 2%;
}
.carouselContent{
    display: none;
}
.carouselContainer{
    border:solid;
}
.carouselTrackerContianer{
    text-align: center;
}
.carouselTracker{
    cursor: pointer;
}
#leftCont{
    z-index: auto; /*Pushes .left to be the forefront of everything*/
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 1%;
    border-radius: 25px;
  }
#left{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
#rightCont{
    z-index: auto;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: auto;
    padding: 1%;
    border-radius: 25px;
}
#right{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

img{
    width:100%;
}

.video{
    width: 565px;
    height: 320px;
    
}

.videoCourtesy{
    width: 565px;
    height: auto;
    text-align: right;
}
.commentbox{
    margin-top: 2%;
    margin-bottom: 2%;
}

.profilepic{
    float: left;
}

.profilepic > img{
    width: 55px;
    height:auto;
}

.username{
    margin-bottom: 2%;
}
.commentContainer{
    float:none;
    width: auto;
    word-wrap: break-word;
}
#scrollboxCont{
    border-style: solid;
    border-color:black;
}
#scrollboxTitle{
    border-bottom-style: solid;
    border-bottom-color:black;
    margin-bottom: 2%;
    font-size: large;
    padding: 1%;
}

#scrollboxTitle > span{
    margin-left: 1%;
}
#scrollBoxSubTitle{
    display: block;
    font-size: larger;
    margin-left:auto;
    padding:3%;
}
#scrollboxCont > #scrollboxContent{
    border-style: solid;
    border-color: black;
    width: 90%;
    height: 400px;
    padding:2%;
    margin-bottom:2%;
    
}