<div id = "bannar">
    <div id = "centerMe">
    <span class = "rocket" >&#128640;</span>
    <span class = "title-logo"><img id = "title" src = "other/title.png"></img></span>
    <span class = "rocket" >&#128640;</span>
    </div>
</div>
<div id = "HorizantalBanner">
    <a href = '/' class = "notActive">Example 1</a>
    <a href = '/second-page' class = "notActive">Example 2</a>
    <a href = '/third-page' class = "notActive" >Example 3</a>
    <a href = '/fourth-page' class = "Active">Example 4</a>
</div>
<div id = "content">
    <div>
        <h1>Is Space is cool?</h1>
        <p>
            For the last time, Space is cool, bruh!!!
        </p>
        <h3>What else is cool</h3>
        <p translate="no">
            While you have been having fun and messing around my website, I have been 
            slowly collecting your data, and now I will show you what I have been building 
            up to. dun dUN DUN (crescendo).
        </p>
        {{#each pageVisit}}
            <li>You have visited '<strong>{{this.name}}</strong>', {{visit}} times.</li>
        {{/each}}
        </ul>
        <p>
            There I know exactly which screen you visited and how many times. With this data,
            I can figure out which page you liked the most. Would you mind posting a comment, with
            your data (remember add 1 to the third webpage since you will need to visit that page one 
            more time, to post the comment), as that shows everyone you fell for the trap. You have to do 
            so as well. Scout's honour!
        </p>
        <iframe src="/other/parkAndRec.gif" tex-align = "center" width="580" height="323" frameBorder="0"></iframe><p><a href="https://giphy.com/gifs/peacocktv-parks-and-recreation-rec-peacock-tv-n9ewEcw0oyHEYEuH1c" target="_blank">via GIPHY</a></p>
        </div>
    </div>
</div>
