<div id = "bannar">
    <div id = "centerMe">
        <span class = "rocket" >&#128640;</span>
        <span class = "title-logo"><img id = "title" src = "other/title.png"></img></span>
        <span class = "rocket" >&#128640;</span>
    </div>
</div>

<div id = "HorizantalBanner">
    <a href = '/' class = "Active">Example 1</a>
    <a href = '/second-page' class = "notActive">Example 2</a>
    <a href = '/third-page' class = "notActive" >Example 3</a>
    <a href = '/fourth-page' class = "notActive">Example 4</a>
</div>

<div class = "carouselContainer">
    <div class = "carouselContent" style = "display:block">
        <img src = "other/img_lights_wide.jpg"> 
    </div>
    <div class = "carouselContent">
        <img src = "other/img_mountains_wide.jpg"> 
    </div>
    <div class = "carouselContent">
        <img src = "other/img_nature_wide.jpg"> 
    </div>
    <div class = "carouselContent">
        <img src = "other/img_snow_wide.jpg"> 
    </div>
    <span id = "leftCont">
    <a id = "left" >&#10094;</a>
    </span>
    <span id = "rightCont">
    <a id = "right">&#10095;</a>
    </span>
    
    <div class = "carouselTrackerContianer">
        <span class = "carouselTracker">&#11044;</span>
        <span class = "carouselTracker">&#11044;</span>
        <span class = "carouselTracker">&#11044;</span>
        <span class = "carouselTracker">&#11044;</span>
        <span class = "imgsourceCont">
            <a href = 'other/img_lights_wide.jpg' class = "imgsource">Source</a>
            <a href = 'other/img_mountains_wide.jpg' class = "imgsource">Source</a>
            <a href = 'other/img_nature_wide.jpg'  class = "imgsource">Source</a>
            <a href = 'other/img_snow_wide.jpg' class = "imgsource">Source</a>
        </span>        
    </div>
</div>
<div id = "content">
    <div>
        <h1>Header 1</h1>
        <p>
            Space is cool burh
        </p>
        <h3>Header 2</h3>
        <p translate="no">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
            id est laborum.
        </p>
    </div>
</div>
<script src = "js/homepage.js"></script>
