<div id = "bannar">
    <div id = "centerMe">
    <span class = "rocket" >&#128640;</span>
    <span class = "title-logo"><img id = "title" src = "other/title.png"></img></span>
    <span class = "rocket" >&#128640;</span>
    </div>
</div>
<div id = "HorizantalBanner">
    <a href = '/' class = "notActive">Example 1</a>
    <a href = '/second-page' class = "Active">Example 2</a>
    <a href = '/third-page' class = "notActive" >Example 3</a>
    <a href = '/fourth-page' class = "notActive">Example 4</a>
</div>
<div id = "content">
    <div>
        <h1>Header 1</h1>
        <p>
            Space is cool burhdd
        </p>
        <h3>Header 2</h3>
        <p translate="no">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
            id est laborum.
        </p>
        <h3>SpaceX Boca Chica Site</h3>
        <p>
            SpaceX is building what could be the future of space travels at Boca Chica, Texas.
        </p>

        <div class = "video"><iframe width="560" height="315" src="https://www.youtube.com/embed/sTA0GTgFn5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe></div>
        <div class = "videoCourtesy">
            Video courtesy of 
            <a href = "https://www.youtube.com/channel/UCFwMITSkc1Fms6PoJoh1OUQ" target="_blank">
                LabPadre
            </a>
        </div>
        <p>
            With the recent sucess with SN-15 Starship sub-orbital flight, SpaceX seems to be one
            step closer to their goal of humans landing on Mars. What is revolutionary about this 
            particular vehicle is that it is designed to be reusable. Now you might ask why should
            I care?
        </p>
        <p>
            A rocket has millions of moving parts, and some of them are very expensive to produce, if
            you need to build a new one, each time you launch a rocket, the costs go up very fast. As 
            well as the time aspect, since you have to test to make sure everything is working fine. SpaceX
            already is trying to solve this issue, by designing rockets that are resuable. If you look at
            their current orbital capable rocket, Falcon 9, you can see that most of its part are resuable 
            such as the first stage boosters as well as other parts like the fairings (guess what, they save 
            millions when they bring back a fairing, and there is two of them).
        </p>
        <p>
            <strong>DON'T QUOTE ME ON THIS</strong><br>
            While that doesn't sound like much, consider that SpaceX is the only company that is capable of 
            relaunching in less than 30 days, which is considered very fast when the rest of the space rocket 
            companies have to build one from scratch. Also, you might ask, <em>'hey, the space shuttle reused 
            the boosters that were dropped into the ocean, aren't space rocket companies already doing that?'</em>
            Let me ask you this, you ever dropped your phone into a lake, then you fished it out and tried some 
            hack you learned about on the internet, perhaps putting it in a bag of rice. Again that might not  
            be a problem for a phone, with a couple of parts, but when you have a rocket that has millions of moving 
            parts and you are relying on controlled explosions to move you, you are going to be spending a lot of 
            time, making sure all components are still good. Imagine doing that millions of times and then double
            checking and even tripple checking. It would be faster to build a new one. 
        </p>
        <p>
            <strong>TLDR; The only way to bring the cost of rockets down is to be able to reuse them. A large upfront 
                cost to make the rocket, followed by a small cost when you want to launch, like the cost of the fuel,
                or maintainence. 
            </strong> 
        </p>
        <p>
            The following video is just pure awesomeness, the full video that shows the entire process is Hype.
        </p>
        <div class = "video"><iframe width="560" height="315" src="https://www.youtube.com/embed/mY-fSnKTLqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe></div>
        <div class = "videoCourtesy">
            Video courtesy of 
            <a href = "https://www.youtube.com/channel/UCtI0Hodo5o5dUb67FeUjDeA" target="_blank">
                 SpaceX</a>
            edited by
            <a href = "https://www.youtube.com/channel/UCrVd3x-ygw0zo4yJKk-7dXw" target="_blank">
                connor shafran</a>
        </div>        
    </div>
</div>

