<div id = "bannar">
    <div id = "centerMe">
    <span class = "rocket" >&#128640;</span>
    <span class = "title-logo"><img id = "title" src = "other/title.png"></img></span>
    <span class = "rocket" >&#128640;</span>
    </div>
</div>
<div id = "HorizantalBanner">
    <a href = '/' class = "notActive">Example 1</a>
    <a href = '/second-page' class = "Active">Example 2</a>
    <a href = '/third-page' class = "notActive" >Example 3</a>
    <a href = '/fourth-page' class = "notActive">Example 4</a>
</div>
<div id = "content">
    <div>
        <h1>Is Space Cool?</h1>
        <p>
            Space is cool, bruh
        </p>
        <h3>Who is interested?</h3>
        <p>
            If you ask just about anyone, you will find that a lot of people are
            interested. Just take a look at the view count while space rockets are
            being launched, it is always quite a healthy size. It seems no matter 
            how much they are viewed, they are just as popular.
            It seems like space is where we can all agree and say collectively that <em>it's cool</em>.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
            id est laborum.
            <br>
            <br>
            Oops! Sorry about that, must have glitched or something, it won't happen again.
        </p>

        <h3>SpaceX Boca Chica Site</h3>
        <p>
            SpaceX is building what could be the future of space travels at Boca Chica, Texas.
        </p>

        <div class = "video"><iframe width="560" height="315" src="https://www.youtube.com/embed/sTA0GTgFn5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe></div>
        <div class = "videoCourtesy">
            Video courtesy of 
            <a href = "https://www.youtube.com/channel/UCFwMITSkc1Fms6PoJoh1OUQ" target="_blank">
                LabPadre
            </a>
        </div>
        <p>
            With the recent sucess with SN-15 Starship sub-orbital flight, SpaceX seems to be one
            step closer to their goal of humans landing on Mars. What is revolutionary about this 
            particular vehicle is that it is designed to be reusable. Now you might ask why should
            I care?
        </p>
        <p>
            A rocket has millions of moving parts, and some of them are very expensive to produce, if
            you need to build a new one, each time you launch a rocket, the costs go up very fast. As 
            well as the time aspect, since you have to test to make sure everything is working fine. SpaceX
            already is trying to solve this issue, by designing rockets that are resuable. If you look at
            their current orbital capable rocket, Falcon 9, you can see that most of its part are resuable 
            such as the first stage boosters as well as other parts like the fairings (guess what, they save 
            millions when they bring back a fairing, and there is two of them).
        </p>
        <p>
            <strong>DON'T QUOTE ME ON THIS</strong><br>
            While that doesn't sound like much, consider that SpaceX is the only company that is capable of 
            relaunching in less than 30 days, which is considered very fast when the rest of the space rocket 
            companies have to build one from scratch. Also, you might ask, <em>'hey, the space shuttle reused 
            the boosters that were dropped into the ocean, aren't space rocket companies already doing that?'</em>
            Let me ask you this, you ever dropped your phone into a lake, then you fished it out and tried some 
            hack you learned about on the internet, perhaps putting it in a bag of rice. Again that might not  
            be a problem for a phone, with a couple of parts, but when you have a rocket that has millions of moving 
            parts and you are relying on controlled explosions to move you, you are going to be spending a lot of 
            time, making sure all components are still good. Imagine doing that millions of times and then double
            checking and even tripple checking. It would be faster to build a new one. 
        </p>
        <p>
            <strong>TLDR; The only way to bring the cost of rockets down is to be able to reuse them. A large upfront 
                cost to make the rocket, followed by a small cost when you want to launch, like the cost of the fuel,
                or maintainence. 
            </strong> 
        </p>
        <p>
            The following video is just pure awesomeness, the full video that shows the entire process is Hype.
        </p>
        <div class = "video"><iframe width="560" height="315" src="https://www.youtube.com/embed/mY-fSnKTLqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe></div>
        <div class = "videoCourtesy">
            Video courtesy of 
            <a href = "https://www.youtube.com/channel/UCtI0Hodo5o5dUb67FeUjDeA" target="_blank">
                 SpaceX</a>
            edited by
            <a href = "https://www.youtube.com/channel/UCrVd3x-ygw0zo4yJKk-7dXw" target="_blank">
                connor shafran</a>
        </div>  
        <h3>Closing Remarks</h3>
        <button id = "butt">Click To View</button>
        <div id = "scrollboxCont">
            <div id = "scrollboxTitle"><span>&#127756; You've Got Mail</span></div>
            <span id = "scrollBoxSubTitle">Born Too Late to explore the World, Born Too Early to explore Space ... or is it?</span>
            <div id = "scrollboxContent">
                <h3>Future of Space</h3>
                <p>Will we ever get to space in our lifetimes, maybe or maybe not but we know that 
                    we are getting closer and closer to that goal every day. Why do I think the future
                    is looking good for space travels, it is because space travel is not just being done
                    by government bodies alone, but now your everyday companies are taking a hand at it.
                </p>
                <p>
                    Everday a different company seems to be launching some sort of spacecraft. With each
                    new addition of competition on the race to commercialize space travel, it means many 
                    different takes and ideas on how to do it are being explored. This means the likelihood 
                    of success increases. It also means that everyday people can enjoy possible travel to 
                    space, that much sooner.
                </p>
                <div>
                    <img class = "vg" src = '/other/b4Flight.png' align = "left"></img>
                    <span>
                        Seen here is the moments before the Virgin-Galatic's VSS Unity testflight for sub-orbital
                        capabilities (Picture taken from <a href = "https://www.youtube.com/channel/UClcvOr7LV8tlJwJvkNMmnKg" target="_blank">VG's video</a>). The spacecraft was carried up to an altitude of around 44,000 ft by a carrier 
                        flight shown in the picture as well. The aircraft then released the spacecraft which then performed
                        its successful test flight by reaching an altitude over 290,000 ft (more than 88 km for those of you not in the US).
                    </span>
                    <p>On board the test flight were Pilots C.J. Sturckow and Dave Mackay, and now considers astronauts since the US considers any pilot who has reached more 
                       than 270,000 ft in altitude an astronaut. The two astronauts got to experience the feeling of microgravity (or the feeling of weightlessness) and also 
                       got a nice view of the world as their spacecraft performed a small backflip. This test flight is the third flight to space that Virgin Galactic 
                       has attempted, and cosidering that everything went fine, that means we are one step closer to commercializing space travels.   
                    </p>
                    <p>
                        Words can't describe what what it was like, why don't you <a href = "https://www.youtube.com/watch?v=1TVs2lWk_GI" target="_blank">take a look</a> for yourself.
                        Oh, ya current going rate to be a passenger on one of these flights is around 250,000 dollars, around the price of a mid tier supercar. But someone is 
                        going to figure out how to make it more accessible to everyone since that is where the big money is.  
                    </p>
                    <p>
                        That is just one of the many successes so far. There are other companies trying similar things, and as a result I really think we will have a shot at normalizing 
                        space travel in our lifetime. Will it be towards the end or soon, now that is the question. 
                    </p>

                    <button><a style = "text-decoration:none; color:black;" href = "/other/b4Flight.png" download="b4Flight.png">Download</a></button> &#x2190; Larger size of picture above
                                   
                </div>
            </div>
        </div>      
    </div>
</div>

<script src = "/js/secondpage.js"></script>

