<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elias's Space</title>
    <link rel = "stylesheet" href = "/css/hp.css" type = "text/css">
    <link rel="shortcut icon" type="image/png" href="/other/favicon.PNG"/>
    <meta name="google" content="notranslate">
  </head>
  <body>
  {{{body}}}
  </body>
</html>
