body{
    background-color: darkgrey;
}
td:not(.no){
    text-align: center;
}
th{
   min-width: 50px; 
   border-style: solid;
   border-color: black; 
}

th:nth-child(n+3){
    border-left:none;
}

input[type = text]{
    size:40;
}

#firstForm{
    display: inline-block;
}

#clearButton{
    float:right;
    right:2%;
    z-index: auto;
    color:white;
    background-color: red;
}